.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.gallery-image {
    width: 360px;
    height: 200px;
    transition: transform 0.3s ease; 
}

.gallery-image:hover {
    transform: scale(1.05); 
}